{% extends "layout.html" %}

{% block title %}Expenses{% endblock %}


{% block main %}
    <h1 class="text-center mb-4">All expenses in <i>{{ group['group_name'] }}</i></h1>
    {% for expense in expenses %}
    <div class="container text-center bg-light pt-2 mb-3">
        <p class="mb-2 h4"><b>{{ expense["amount"] }} DKK</b>: {{ expense["message"] }}</p>
        <p class="mb-2 mt-1">Payed by: {{ expense["username"] }} | Time: {{ expense["time"][8:10] }}/{{ expense["time"][5:7] }}-{{ expense["time"][:4] }}  {{ expense["time"][11:16] }}</p>
        <form action="/expenses?group_id={{ group['group_id'] }}" method="post">
            <button class="btn-sm btn-danger mb-3" type="submit" name="delete" value="{{ expense['expense_id'] }}">Delete</button>
        </form>
    </div>
    {% endfor %}
{% endblock %}