{% extends "layout.html" %}

{% block title %}{{ group["group_name"] }}{% endblock %}

{% block main %}
    <!-- Delete- and invite button, if the current user is the creator of the group -->
    {% if session["user_id"] == group["creator"] %}
        <div class="container text-end">
            <form action="/group?group_id={{ group['group_id'] }}" method="post">
                <button class="btn btn-danger mb-3" type="submit" name="settle_group">Settle Group</button>
            </form>
        </div>
    {% endif %}

    <!-- Group Name -->
    <div class="container text-center">
        <h1>{{ group["group_name"] }}</h1>
    </div>

    <!-- User's balance -->
    <div class="container text-center">
        <p>My Balance: <b>{{ current_group_member["balance"] | dkk }}</b></p>
    </div>

    <!-- Expenses (5 most recent) -->
    {% for expense in expenses %}
    <div class="container text-center bg-light pt-2 mb-3">
        <p class="mb-2 h4"><b>{{ expense["amount"] }} DKK</b>: {{ expense["message"] }}</p>
        <p class="mb-2 mt-1">Payed by: {{ expense["username"] }} | Time: {{ expense["time"][8:10] }}/{{ expense["time"][5:7] }}-{{ expense["time"][:4] }}  {{ expense["time"][11:16] }}</p>
        <form action="/group?group_id={{ group['group_id'] }}" method="post">
            <button class="btn-sm btn-danger mb-3" type="submit" name="delete" value="{{ expense['expense_id'] }}">Delete</button>
        </form>
    </div>
    {% endfor %}
    {% if expenses | length == 0 %}
    <div class="container text-center bg-light">
        <p><b>No expenses yet</b></p>
        <p></p>
        <p>Press the "Add Expense"-button to add an expense</p>
    </div>
    {% endif %}

    </div>
    <!-- "Add Expense" and "See All Expenses" -->
    <div class="container text-center">
        <form action="/group?group_id={{ group['group_id'] }}" method="post">
            <button class="btn btn-primary ms-3 me-3" type="submit" name="add_expense">Add Expense</button>
            <button class="btn btn-primary ms-3 me-3" type="submit" name="expenses">See All Expenses</button>
        </form>
    </div>

    <!-- Group members -->
    <div class="container text-center bg-light mt-3">
        <h4>Group Members:</h4>
        <div class="d-inline-flex text-start">
            <ul>
                {% for group_member in group_members %}
                <li>{{group_member["username"]}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
